:root {
    --background: #101010;
    --fontColor: #fafafa;
    --redText: #ee0000;
    --overlay: rgba(0,0,0,0.875);
  }

body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/Branden-Skeli-on-Unsplash-bright-ramen-restaurant-lights.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.navbar {
  background-image: url('/assets/navup2 (2).jpg');
  width: 100%;
  height: 224px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center -250px;
  display: flex;
  background-attachment: fixed;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 6vh;
  position: relative;
}
.title-text {
  position: absolute;
  left: 45%;
  align-self: center;
  margin: 0 auto;
  font-size: 2rem;
  font-family: Inter;
  color: #fafafa;
  font-weight: 500;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 8rem;
}
.form {
  height: 620px;
  width: 67.5%;
  background-color: rgba(0, 0, 0, 0.92);
  margin-block-end: 6rem;
  padding-block: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.get-in-touch {
  font-family: Nova Flat;
  font-size: clamp(1rem, 20vh, 2.5rem);
  color: var(--fontColor);
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.first-and-last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-inline-start: 0.2rem;
  width: clamp(1rem, 61vw, 46.75rem);
}

.first-name-container, .last-name-container {
  min-width: 40%;
  width: 70%;
  position: relative;
}

.first-name,
.last-name {
  min-width: 4rem;
  width: 97%;
  height: 36px;
}

.first-name-error, .last-name-error,
.email-error, .phn-error {
  font-family: Inter;
  color:var(--fontColor);
  margin-top: 1rem;
  font-size: 14px;
  color: #cf0d37;
  position: absolute;
}
.first-name-error, .last-name-error {
  top: 30px;
  left: 6px;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.email-container {
  position: relative;
  margin-bottom: 0.5rem;
}
.email-form {
  width: clamp(1rem, 60vw, 46.1rem);
  height: 36px;
}
.email-error {
  top: 30px;
  left: 6px;
  display: block;
  width: 100%;
}
.phn-container {
  position: relative;
  margin-bottom: 0.5rem;
}
.phn-form {
  width: clamp(1rem, 60vw, 46.2rem);
  height: 36px;
}
.phn-error {
  top: 30px;
  left: 6px;
}
.message-form {
  width: clamp(1rem, 60vw, 46.15rem);
  resize: none;
}
.form input, textarea {
  background: none;
  border: solid #9d9d9d 1px;
  color: var(--fontColor);
  font-family: Inter;
  font-size: 1rem;
}
.form input[type="text"], input[type="email"] {
  font-size: 18px;
  font-family: Inter;
  padding-left: 8px;
}
.first-name::placeholder, .last-name::placeholder, .email-form::placeholder,
.phn-form::placeholder {
  padding-left: 2px;
}
textarea {
  padding-top: 12px;
  padding-left: 12px;
  font-family: Inter;
  font-size: 18px;
}
.newsletter-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -1.5rem;
}
.agree-to {
  margin: 0; 
  cursor: pointer;
}
.newsletter-label {
  font-family: Inter;
  color: var(--fontColor);
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.submit-button {
  min-width: 120px;
  width: 20%;
  height: 40px;
  background: linear-gradient(to right, #F23E3E 50%, #fafafa 50%);
  background-size: 200% 100%;
  border:none;
  font-family: Inter;
  font-size: 16px;
  color: var(--fontColor);
  cursor: pointer;
  transition: all 0.35s;
  margin-top: -1rem;
}
.submit-button:hover {
  background-position: -100% 0;
  color:#9c2121;
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .title-mobile {
    font-size: 1.2rem;
  }
  .ramen-mobile {
    font-size: 1.5rem;
  }
  main {
    margin-block-start: 0;
  }
  .form {
    padding-bottom: 7rem;
    margin-bottom: 0;
  }
  .form-container {
    align-items: center;
    justify-content: center;
    width: 120%;
    padding: 0;
    margin: 0;
    
  }
  .first-and-last {
    width: 90%;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
  }
  .form {
    width: 100%;
    margin-block-start: 4rem;
  }
  .form-row {
    align-items: center;
    justify-content: start;
    margin-right: 0rem;
    width: 90%;
  }
  .first-name, .last-name {
    width: 100%;
  }
  .email-container, .phn-container {
    width: 70%;
  }
  .email-form, .phn-form {
    width: 100%;
  }
  .message-form {
    width: 69.5%;
    margin-left: 0.5rem;
  }
  .newsletter-container {
    align-items: flex-start;
    justify-content: flex-start;
    width: 64%;
  }
  .button-container {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 480px) {
  .first-name,
  .last-name,
  .email-form,
  .phn-form,
  .message-form {
    width: 90%;
    max-width: none;
  }
}