p {
  color: #fafafa;
  margin: 0;
}

.footer {
  background: linear-gradient(124.64deg, #b30000 -10%, #000000 171.47%, #43010D 206%);
  padding-top: 3rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-bottom: 3rem;
  width: auto;
  height: 25.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.footer div {
  padding: 0;
}

.social-list p {
  font-family: Inter;
  font-size: clamp(0.75rem, 4vw, 1.75rem);
  text-align: left;
  margin-left: 0.625rem;
  cursor: pointer;
}

.socials-text {
  font-family: Nova Flat;
  color: #fafafa;
  font-size: 2.625rem;
  margin-bottom: 1.5625rem;
}

.social-media {
  display: flex;
  width: 0.734375rem;
  align-items: center;
  margin-bottom: 3rem;
  gap: 0;
}

.footer-social {
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  margin-right: 1.2rem;
}

.address-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 26.25rem;
}

.address-footer p {
  margin-bottom: 0.625rem;
}

.address-text {
  display: inline-block;
  font-size: clamp(1.3125rem, 4vw, 2.625rem);
  font-family: Nova Flat;
}

.address {
  font-family: Inter;
  font-size: 1.125rem;
}

.map {
  width: 26.5625rem;
  min-width: 19.2rem;
  height: 16.43125rem;
  border-radius: 0.5rem;
}

.openings-container {
  display: flex;
  flex-direction: column;
  margin-left: -0.9375rem;
  min-width: none;
}

.open-text {
  font-size: clamp(1.3125rem, 4vw, 2.5rem);
  font-family: Nova Flat;
  margin-bottom: 1.5rem;
  text-align: center;
}

.time-text p {
  font-family: Inter;
  font-size: clamp(0.875rem, 4vw, 1.75rem);
}

.time-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 27rem;
  min-width: 11.2rem;
  margin-bottom: 0.75rem;
}

.contact-info-text {
  font-size: 2.625rem;
  font-family: Nova Flat;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
  .contact-info {
    display: flex;
    align-items: center;
    margin-block-end: 1.4rem;
  }
  .contact-info > img {
    width: 1.875rem;
    height: 1.875rem;
    padding-inline-end: 2rem;
  }
  .contact-info > p {
    font-size: 24px;
    font-family: Inter;
  }
  .copyright {
    margin-top: 2.25rem;
    font-family: Nova Flat;
    font-size: 20px;
  }
  .foot-button {
    font-family: Nova Flat;
    background: none;
    border:none;
    color: #fafafa;
    font-size: 16px;
    cursor:pointer;
  }
  .foot-button:hover {
    opacity: 0.7;
  }
  .nav-footer {
    margin-top: 16px;
    margin-left: -4px;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1024px) {
    .footer {
      padding: 24px;
      flex-direction: row;
      align-items: center;
      height: auto;
    }
  
    .socials {
      width: 100%;
    }
  
    .socials-text {
      font-size: 2rem;
      text-align: start;
      margin-left: 1.1rem;
    }
    .footer-social {
      margin-right: 0.5rem;
    }
    .social-list {
      justify-content: start;
      align-items: start;
      flex-direction: row;
    }
    .social-media {
      width: 100rem;
      justify-content: start;
      margin-bottom: 0.8rem;
      margin-left: 1.25rem;
    }
    .social-media > p {
      display: inline-block;
      margin: 0;
    }
    .social-list {
      flex-direction: row;
      display: flex;
    }
    .address-footer {
      width: 100%;
      margin-top: 1rem;
      margin-left: 1.2rem;
    }
  
    .address-text {
      font-size: 32px;
    }
  
    .address {
      font-size: 1.125rem;
    }
  
    .map {
      height: 200px;
    }
  
    .openings-container {
      width: 100%;
      margin-top: 1.8rem;
      margin-left: 1.2rem;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10%;
    }
    .open-text, .contact-info-text {
      font-size: 2rem;
      text-align: start;
      margin-block-end: 1rem;
    }
    .map {
      width: 80%;
    }
    .time-text > p{
      font-size: 1.2rem;
      min-width: 0;
      margin: 0;
      padding: 0;
      max-width: 25rem;
    }
  
    .foot-button {
      font-size: 1.5;
      margin-right: 1rem;
      margin-top: 0.5rem;
    }
    .footer-social, .contact-logo {
      width: 1.5rem;
      height: 1.5rem;
    }
    .contact-info {
      margin-block-end: 0.8rem;
    }
    .contact-info > img {
      padding-inline-end: 1rem;
    }
    .contact-info > p {
      font-size: 1.2rem;
    }
  }



