  .navbar::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
      z-index: -1;
  }
  .nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 16vh;
    padding-right: 16vh;
  }
  .nav-container-left {
    background-color: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    width: 3.125rem;
    height: 3.125rem;
    display: none;
  }
  .eramen-text {
    font-family: Nova Flat;
    display: none;
  }
  .nav-container-right {
    margin-right: -2rem;
    gap: 2vw;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-button {
    background: none;
    border:none;
    font-family: Inter;
    color: var(--fontColor);
    opacity: 1;
    font-size: clamp(0.8rem, 1.9vw, 1.6rem);
    font-weight: 500;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
  }
  .nav-button-prime {
    background: none;
    border:none;
    font-family: Inter;
    color: #ffcc00;
    font-size: clamp(0.8rem, 1.9vw, 1.6rem);
    opacity: 1;
    font-weight: bold;
    font-weight: 500;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
  }
  .nav-button:hover{
    opacity: 0.7;
  }
  .nav-container.sticky {
    height: clamp(60px, 90px, 100px);
    background-color: var(--fontColor);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    transition: all 0.35s ease-in-out;
  }
  .nav-container.sticky .nav-button {
    color: var(--background);
    font-size: clamp(0rem, 1.9vw, 1.4rem);
    white-space: nowrap;
    transition: all 0.2s ease-out;
  }
  .nav-container.sticky .nav-button-prime {
    color: #b30000;
    font-size: clamp(0rem, 1.9vw, 1.4rem);
  }
  .nav-container-left.sticky {
    margin-left: -1.5rem;
    transition: all 0.35s ease-in-out;
  }
  .nav-container-left.sticky .logo {
    margin-right: 3vh;
    display: inline;
  }
  .nav-container-left.sticky .eramen-text {
    display: inline;
    color: var(--background);
    font-size: clamp(1.5rem, 2rem, 4rem);
  }
  .nav-container.sticky .nav-container-right {
    margin-right: 3rem;
    padding-right: clamp(2rem, 9vw, 10rem);
    padding-left:0;
    transition: all 0.35s ease-in-out;
  }
  .burger-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    background: none;
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .mobile-container {
    display: none;
  }
@media screen and (max-width: 768px) {
    .search-container {
      padding-top: 28vh;
    }
    .search-bar {
      width: 31rem;
    }
    .search-button {
      width: 4rem;
      font-size: 16px;
    }
    .navbar {
      display: none;
    }
    .nav-container-right {
      display: none;
    }
    .nav-container {
      display: none;
    }
    .nav-mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: start;
      display: none;
      position: absolute;
      background-color: var(--fontColor);
      top: 5em;
      margin-left: -1.2rem;
      padding-block-start: 0.5em;
      padding-inline-start: 0.5em;
      z-index: 4000;
    }
    .nav-mobile button {
      width: 100%;
      text-align: start;
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
      padding-left: 0.8rem;;
      opacity: 1;
      color: var(--background);
    }
    .nav-mobile button:hover {
      color:#bf0000;
      opacity: 1;
    }
    .burger-icon {
      padding-right: 1rem;
      display: block;
      width: 2rem;
      height: 2rem;
    }
    .mobile-container {
      height: 5rem;
      background-color: var(--fontColor);
      padding-inline: 1.1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      min-width: 95.3%;
      border-bottom: 1px solid black;
      z-index: 1500;
      box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    }
    .nav-mobile-left {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    .ramen-mobile {
      font-family: Nova Flat;
      color: var(--background);
      font-size: clamp(1rem, 20vw, 1.8rem);
    }
    .title-mobile {
      font-family: Inter;
      font-size: clamp(1rem, 20vw, 1.8rem);
      font-weight: 500;
      text-align: center;
      color:#101010;
      margin-right: 12px;
    }
    .logo-mobile {
      max-width: 3.125rem;
      max-height: 3.125rem;
    }
  }